<html>
  <body>
    <h1>Message Details</h1>
    <p><strong>Author:</strong> <%= author %></p>
    <p><strong>Date Added:</strong> <%= added %></p>
    <p><strong>Message Text:</strong> <%= messageText %></p>
    <a href="/">Back to Home</a>
  </body>
</html>
